

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


#output {
	margin-top: 15px;
}
#inputNumber {
	margin-top: 10px;
}
.listingslab {
	height:25px;
}
.fixed-height-150 {
	/*min-height:120px;*/
}
.fixed-height-200 {
	height:200px;
}









